:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: grey;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: yellowgreen;
  cursor: pointer;

  transition: border-color 0.25s;
}

.btn-next {
  float: right;
}

/* button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.app-title {
  text-align: center;
  margin: 5rem 0;

}

.title {
  font-size: 1.5em;
}

.subtitle {
  font-size: 1.1em;
}

.card {
  border: 1px solid lightgrey;
  width: 18rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;

}

.container-cards {
  /* border: 1px solid lightcoral; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 30rem;
}

.container-button {
  /* border: 1px solid lightcoral; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: end;

  margin: 2rem 30rem;
}

.tags-container {
  /* width: 15rem; */
  display: flex;
  flex-wrap: wrap;
}

.tags-container>div {
  border: 1px solid lightblue;
  margin: 0.2rem;
  padding: 0.1rem 0.3rem;
  text-align: center;
}

.card-image {
  width: 18rem;
}

.selected-recipes-container {
  /* border: 1px solid lightcoral; */
  width: 90rem;
  height: 50rem;
  margin: auto;
}

label {
  font-size: 1.2em;
}

input {
  height: 2rem;
  width: 40rem;
  font-size: 1.0em;
  padding-left: .5rem;
  color: grey;
}

.btn-confirm {
  float: right;
  margin-right: 20rem;
}