:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 10px;
  font-weight: 400;
  color: #888;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
}

.wrapper {
  flex: 1;
}

nav,
footer {
  margin: 0;
  height: 7rem;
  background-color: #F0BD01;
}

h1 {
  font-size: 3.0em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
}

.blue {
  color: #00BCD5
}

.title {
  font-size: 1.5em;
}

.subtitle {
  font-size: 1.1em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20rem;
  align-items: flex-start;
}

/* media queries: */
@media only screen and (max-width: 870px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15rem;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 800px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 15rem;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1690px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 30rem;
    align-items: flex-start;
  }
}

.selected-recipes-container {
  padding: 0 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

input {
  height: 3.2rem;
  width: 40rem;
  font-size: 0.8em;
  padding-left: .5rem;
  color: grey;
  fill: none;
  border-color: lightgrey;
  background: transparent;
}

input:focus-visible {
  outline: 1px solid transparent;
  background: none;
}

input:active {
  outline: 'none';
}

.btn-confirm {
  margin-right: 10rem;
}

button {
  border: 1px solid transparent;
  padding: .7em 1.8em;
  font-size: 1.7em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: yellowgreen;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media only screen and (max-width: 920px) {
  .selected-recipes-container {
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }
}

@media only screen and (max-width: 770px) {
  .selected-recipes-container {
    padding: 0 0 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }
}

@media only screen and (max-width: 570px) {
  .selected-recipes-container {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  input {
    width: 27rem;
  }

  .btn-confirm {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 400px) {
  .selected-recipes-container {
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  input {
    width: 20rem;
  }

  button {
    border: 1px solid transparent;
    padding: .7em 1.8em;
    font-size: 1.4em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: yellowgreen;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .btn-confirm {
    margin-right: 0rem;
  }
}

.card {
  border: 5px solid lightgrey;
  width: 18rem;
  height: 30rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.app-title {
  text-align: center;
  margin: 4rem 0;
}

.container-button {
  display: flex;
  justify-content: end;
  margin: 2rem 20rem;
}

.tags-container {
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
}

.tags-container>div {
  color: black;
  background-color: rgb(234, 230, 230);
  margin: 0.3rem;
  padding: 0.1rem 0.3rem;
  text-align: center;
}

.card-image {
  width: 18rem;
}



label {
  font-size: 2em;
}



.btns-container {
  display: flex;
  justify-content: space-between;
}



.selected {
  border: 5px solid #F0BD01;
}